@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gold: 219 167 61;
  /* rgb(219, 167, 61) */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gold: rgb(var(--gold));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}